<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Arcella-pi</title>
    </head>
    <body>
        <h1>Welcome to Arcella-pi!</h1>
        Exactly as planned.<br>
        <a href="/temp">goto temp</a><br>
        <br>
        <footer>
            ⓒ 2023. 박정현 all rights reserved.
        </footer>
    </body>
</html>