<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Arcella-pi</title>
    </head>
    <body>
        <h1>You are now experiencing <%=filename%>.</h1>
        No option<br>
        <a href="/">return to index</a>
    </body>
</html>